/*---------------------------*\
	$BUTTONS
\*---------------------------*/

//Place Holder Button's
%button {
	background-color: $YEiPii-color;
	color: $YEiPii-color-white;
	text-transform: $button-capitalize-text;
	font-weight: $button-font-weight;
	font-size: 10px;
	letter-spacing: 2px;
	border: none;
	border-radius: $button-border-radius;
	outline: none;
	padding: 11px 50px;
	transition: $button-transition;
}

%button-secondary {
	border-radius: 12px;
	padding: 5px;
    min-width: 145px;
	min-height: 100px;
    margin: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	transition: .7s all;
}

//END Place Holder Button

// Buttons YEiPii
.button-YEiPii {
	@extend %button;
}

.button-YEiPii-secondary {
	@extend %button;
	@extend %button-secondary;

	@include respond-to(1085px) {
		margin-bottom: 10px;
	}

	@include respond-to(1053px) {
		margin: 10px 15px;
		width: 30%;
		max-width: 200px;
	}

	@include respond-to(743px){
		width: 30%;
		margin: 4% 2%;
		margin-bottom: 0;
	}

	@include respond-to(577px) {
		min-width: 150px;
		width: 35%;
		margin: 20px 10px 0 10px;
	}

	@include respond-to(358px) {
		width: 70%;
		margin: 5px;
	}
}

.button-YEiPii:hover,
.button-YEiPii-secondary:hover {
	cursor: pointer;
	background-color: $YEiPii-color-secondary;
}

//Buttons APP Download
.button-app-download {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 9px 13px;
	border-radius: 5px;
	box-shadow: 0px 0px 0px 1px $YEiPii-color-white;

	//transition: $button-transition;
	& a {
		width: 170px;
		height: 58px;
	}
}

.button-app-download:hover {
	cursor: pointer;
	background: $YEiPii-color-white;
}

//FOOTER

.download-footer-btn-img {
	width: $download-footer-btn-img;
	height: $download-footer-btn-img;
	transition: $button-transition;
	border-radius: 5px;
	margin: 0 4px 0 4px;
	filter: opacity(.60) brightness(.85);

	@include respond-to(550px) {
		filter: opacity(1) brightness(1);
	}
}

.download-footer-btn-img:hover {
	filter: opacity(1) brightness(1);
}

.button-app-download .android {
	width: 170px;
	height: 100%;
}

.button-YEiPii-secondary img {
	width: 55px;
	transition: $button-transition;
}

.button-YEiPii-secondary span {
	display: block;
	margin-top: 10px;
	transition: $button-transition;
	font-size: 9px;

	@include respond-to(1085px) {
		font-size: 10px;
	}

	@include respond-to(358px) {
		font-size: 11px;
	}
}

#APPLE:hover .hoverDownload, #ANDROID:hover .hoverDownload {
	fill: $YEiPii-color;
}


.button-gray-disabled{
	background: $YEiPii-color-gray;
}
.button-gray-disabled:hover{
	background: darken($YEiPii-color-gray, 10);
}