/*---------------------------*\
	$BUTTONS
\*---------------------------*/

//Place Holder Button's
%button{
	background-color: $YEiPii-color;
	color: $YEiPii-color-white;
	text-transform: $button-capitalize-text;
	font-weight: $button-font-weight;
	font-size: 10px;
	letter-spacing: 2px;
	border: none;
	border-radius: $button-border-radius;
	outline: none;
	padding: 11px 50px;
	transition: $button-transition;
}

%button-secondary{
	border-radius: 12px;
    padding: 5px;
	min-width: 150px;
	min-height: 100px;
    margin: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	transition: $button-transition;
}

//END Place Holder Button

// Buttons YEiPii
.button-YEiPii{
	@extend %button;
}
.button-YEiPii-secondary{
	@extend %button;
	@extend %button-secondary;
	@include respond-to(1085px){
		margin-bottom: 10px;
	}
	@include respond-to(1053px){
		width: 20%;
		margin: 5px 3% !important;
	}
	@include respond-to(577px){
		width: 35%;
		margin: 5px;
	}
	@include respond-to(358px){
		width: 70%;
		margin: 5px;
	}
}

.button-YEiPii-secondary:nth-of-type(1){
	margin-left: 0;
}

.button-YEiPii-secondary:nth-last-of-type(1){
	margin-right: 0;
}

.button-YEiPii:hover,.button-YEiPii-secondary:hover{
	cursor: pointer;
	background-color: $YEiPii-color-secondary;	
}

//Buttons APP Download
.button-app-download{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 9px 13px;
	border-radius: 5px;
	box-shadow: 0px 0px 0px 1px $YEiPii-color-white;
	//transition: $button-transition;
}

.button-app-download:hover{
	cursor: pointer;
	background: $YEiPii-color-white;
}

//FOOTER

.download-footer-btn-img{
	width: $download-footer-btn-img;
	height: $download-footer-btn-img;
	transition: $button-transition;
	border-radius: 5px;
	margin: 0 4px 0 4px;
	filter: opacity(.60) brightness(.85);
	@include respond-to(550px){
		filter: opacity(1) brightness(1);
	  }
  }
  
  .download-footer-btn-img:hover{
	filter: opacity(1) brightness(1);
  }

.button-app-download .android{
	width: 170px;
	height: 100%;
}

.button-YEiPii-secondary img{
	width: 55px;
	transition: $button-transition;
}

.button-YEiPii-secondary span{
	display: block;
	font-family: 'normal';
	margin-top: 10px;
	transition: $button-transition;
	font-size: 9px;
}