.contenedor-buttons-category-maxwidth{
    max-width: 1024px;
    width: 100%;
    margin: auto;
    transition: .4s all;
    @include respond-to(1053px){
        max-width: 900px;
    }
}

.categoryBox {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        max-width: 900px;
        width: 90%;
        margin: auto;
        padding: 0;
        overflow: hidden;
        height: 0;
        transition: .4s all;
        transition: opacity .3s ease-in-out;
        position: relative;
        top: -60px;
        z-index: -9999;
        opacity: 0;
        @include respond-to(1053px){
            width: 85%;
        }
        @include respond-to(577px){
            justify-content: center;
        }
}

.categoryOpen {
    padding-top: 20px;
    top: 0;
}

.categoryOpen-2filas {
    position: absolute;
    padding-top: 20px;
    top: 105px;
    left: 0;
    right: 0;
}

.categoryOpen-2filas-abajo {
    position: absolute;
    padding-top: 20px;
    top: 210px;
    left: 0;
    right: 0;
}

.categoryOpen-3filas{
    position: absolute;
    padding-top: 20px;
    top: 105px;
    left: 0;
    right: 0;
}

.categoryOpen-3filas-2da{
    position: absolute;
    padding-top: 20px;
    top: 212px;
    left: 0;
    right: 0;
}

.categoryOpen-3filas-3ra{
    position: absolute;
    padding-top: 20px;
    top: 324px;
    left: 0;
    right: 0;
}

.categoryOpen-individual{
    position: absolute;
    padding-top: 20px;
    top: 105px;
    left: 0;
    right: 0;
}

.categoryOpen-individual-2{
    position: absolute;
    padding-top: 20px;
    top: 210px;
    left: 0;
    right: 0;
}

.categoryOpen-individual-3{
    position: absolute;
    padding-top: 20px;
    top: 320px;
    left: 0;
    right: 0;
}

.categoryOpen-individual-4{
    position: absolute;
    padding-top: 20px;
    top: 430px;
    left: 0;
    right: 0;
}

.categoryOpen-individual-5{
    position: absolute;
    padding-top: 20px;
    top: 540px;
    left: 0;
    right: 0;
}

.categoryOpen-individual-6{
    position: absolute;
    padding-top: 20px;
    top: 650px;
    left: 0;
    right: 0;
}


.lugarCategory {
    width: (80%) / 6;
    min-width: 120px;
    margin: 10px;
    border-radius: 50%;
    @include respond-to(1053px){
        width: (85%) / 5;
    }
    @include respond-to(577px){
        min-width: 100px;
    }
    @include respond-to(485px){
        min-width: 90px;
    }
    @include respond-to(446px){
        min-width: 85px;
    }
    @include respond-to(390px){
        margin: 5px;
    }
    @include respond-to(358px){
        min-width: 90px;
    }
}