/*---------------------------*\
	$PARAGRAPHS
\*---------------------------*/

p{
	margin-bottom: $paragraphs-mb;
	margin-top: $paragraphs-mt; 
}

//parrafo YEiPii

%parrafo_YEiPii{
	font-size: map-get($font-size, big);
	max-width: 500px;
	transition: $transition-responsive;

	//nos permite gestionar los break-points dentro del mismo selector
	@include respond-to($max-width-1000){
		font-size: map-get($font-size, big-low);
	}
}


.parrafo_YEiPii-calcomania{
	@extend %parrafo_YEiPii;
	max-width: 580px;
	@include respond-to($max-width-830){
		max-width: 80%;
		margin: auto;
		margin-bottom: 25px;
		text-align: center;
		font-size: map-get($font-size, normal-big);
	}

	@include respond-to($max-width-MobileL){
		max-width: 100%;
		font-size: 20px;
	}

	@include respond-to($max-width-MobileS){
		max-width: 100%;
		font-size: 16px;
	}
}

.parrafo_YEiPii_gray{
	@extend %parrafo_YEiPii;
	color: $YEiPii-color-gray;

	@include respond-to($max-width-830){
		max-width: 95%;
		margin: auto;
		margin-bottom: 25px;
		text-align: center;
		font-size: map-get($font-size, normal-big);
	}

	@include respond-to($max-width-MobileL){
		max-width: 100%;
		font-size: 20px;
	}

	@include respond-to($max-width-MobileS){
		max-width: 100%;
		font-size: 16px;
	}
}

.parrafo_YEiPii_white{
	@extend %parrafo_YEiPii;
	color: $YEiPii-color-white;
}

.parrafo_banner-donde-estamos{
	font-size: $base-font-size + 6;
	max-width: 400px;
	text-align: justify;
	color: lighten($YEiPii-color-gray, 50);
	letter-spacing: 1px;
	transition: $transition-responsive;

	@include respond-to($max-width-930){
		font-size: $base-font-size + 4;
    	max-width: 325px;
	}

	@include respond-to($max-width-Tablet){
		font-size: $base-font-size + 2;
		max-width: 320px;
	}

	@include respond-to(720px){
		max-width: 85%;
		margin: auto !important;
		text-align: center
	}

	@include respond-to($max-width-MobileL){
		max-width: 100%;
	}
}