/* Slider */
.slick-slider {
    position: relative;

    display: block;

    -moz-box-sizing: border-box;
    box-sizing: border-box;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;

    display: block;
}

.slick-track:before,
.slick-track:after {
    display: table;

    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}

.slick-slide:active{
 cursor: -webkit-grab;
 cursor: grab;
 cursor: -moz-grab;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;

    height: auto;

    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}


//LOCURA
.container-slider {
    width: calc(100% + 27px);
    margin-top: 50px;
    transition: .5s all;
}

.clip>.section-slider {
    height: auto;
    margin: 10px 8px;
    padding: 2%;
    position: relative;
    text-align: center;
    transition: .5s all;
    border: none;
}

.section-slider .top img {
    margin: 0 auto;
    transition: .5s all;
}

.section-slider .bottom {
    font-size: 70%;
    width: 70%;
    margin: 0 auto;
    background-color: white;
    transition: .5s all;
}

.clip {
    overflow: hidden;
    bottom: 0;
    transition: .5s all;
    outline: none;
}

.center-slider .slick-slide {
    height: auto;
    transition: .5s all;
}

.center-slider .slick-center .section-slider {
    opacity: 1;
    transition: .5s all;
    position: relative;
}

/*.center-slider .slick-center .section-slider img {
    box-shadow: none;
}*/

.center-slider .section-slider {
    opacity: 0.8;
    bottom: 0;
    transition: .5s all;
}

a:focus,
a:hover {
    text-decoration: none;
    transition: .5s all;
}

.slick-slide img {
    display: block;
    width: 100%;
    height: auto;
    transition: .5s all;
    box-shadow: 0px 0px 45px -18px rgba(0, 0, 0, .8);
}


.slider {
    position: relative;
    display: flex;
    justify-content: center;
}


.slick-track:after {
    content: '';
    display: block;
    background: url('../../images/phones/phone-black.png');
    background-size: 100%;
    background-repeat: no-repeat;
    width: 202px;
    position: absolute;
    top: -36px;
    bottom: -36px;
    margin: auto;
}



//ANIMACION SLIDER

.animate-slider{
    opacity: 1;
    animation-name: sliderAparecer;
    animation-iteration-count: 1;
    animation-duration: 2s;
}

@keyframes sliderAparecer{
    0%{opacity: 0;}
    50%{opacity: 0;}
    to{opacity: 1;}
}




/* ARROWS */

.slick-next {
    right: -60px !important;
    @include respond-to(1240px){
        right: -20px !important;
    }
    @include respond-to(1145px){
        right: -15px !important;
    }
}

.slick-prev {
    left: -60px !important;
    @include respond-to(1240px){
        left: -20px !important;
    }
    @include respond-to(1145px){
        left: -15px !important;
    }
}

.slick-prev, .slick-next {
    width: 50px !important;
    height: 50px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}


.slick-prev::before, .slick-next::before {
    color: $YEiPii-color-gray !important;
    font-family: 'slick';
    font-size: 35px !important;
    line-height: 0 !important;
    opacity: .3 !important;
}

.slick-list{
    @include respond-to(1240px){
        margin: 0 30px;
    }
    @include respond-to(1145px){
        margin: 0 20px; 
    }
}