/*---------------------------*\
		$PARAGRAPHS
\*---------------------------*/

h1,h2,h3,h4,h5,h6{
	font-family: Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	line-height: 1;
}

h1{
	font-size: $base-size-title-YEiPii;
	margin-bottom: 5px;
	margin-top: 10px;
	letter-spacing: 1px;
	line-height: 1;
	@include padding-responsive;
	transition: $transition-responsive;

	@include respond-to($max-width-Tablet){
		font-size: $base-size-title-YEiPii - .5;

	}

	@include respond-to($max-width-MobileL){
		font-size: $base-size-title-YEiPii - 1;
	}

	@include respond-to($max-width-MobileM){
		font-size: $base-size-title-YEiPii - 1.25;
	}
}

h2{
	font-size: $base-size-title-YEiPii  * .7;
}

h3{
	margin: 0;
	font-size: $base-size-title-YEiPii  * .42;
}

.title-big{
	font-size: $base-size-title-YEiPii + .3;
	margin-bottom: 5px;
	margin-top: 10px;
	letter-spacing: 1px;
	transition: $transition-responsive;

	@include respond-to($max-width-830){
		font-size: $base-size-title-YEiPii - .2;

	}

	@include respond-to($max-width-Tablet){
		font-size: $base-size-title-YEiPii - .5;

	}

	@include respond-to($max-width-MobileL){
		font-size: $base-size-title-YEiPii - 1;
		text-align: center;
		margin-bottom: 25px;
	}

	@include respond-to($max-width-MobileM){
		font-size: $base-size-title-YEiPii - 1.2;
	}

	@include respond-to($max-width-MobileS){
		font-size: $base-size-title-YEiPii - 1.4;
	}

}

.sections-YEiPii .title-big{
	@include respond-to($max-width-830){
		text-align: center;
		margin-bottom: 10px;
		margin-top: 0px;
	}
}


.title_banner-donde-estamos{
	font-size: $base-size-title-YEiPii;
	letter-spacing: 2px;
	padding: 0;

	//nos permite gestionar los break-points dentro del mismo selector
	@include respond-to($max-width-1000){
		font-size: $base-size-title-YEiPii - .2;
	}

	@include respond-to($max-width-930){
		font-size: $base-size-title-YEiPii - .4;
	}

	@include respond-to($max-width-830){
		font-size: $base-size-title-YEiPii - .8;
		text-align: center;
		margin-bottom: 10px;
		margin-top: 0px;
	}

	@include respond-to($max-width-MobileM){
		font-size: $base-size-title-YEiPii - 1.2;
	}

	@include respond-to($max-width-MobileS){
		font-size: $base-size-title-YEiPii - 1.4;
	}

}

.donde-estamos-banner h3{
	color: lighten($YEiPii-color-gray, 50);
}