/*---------------------------*\
		$PARAGRAPHS
\*---------------------------*/

h1,h2,h3,h4,h5,h6{
	text-transform: uppercase;
}

h1{
	font-size: $base-size-title-YEiPii;
	margin-bottom: 5px;
	margin-top: 10px;
	letter-spacing: 2.5px;
}