/*---------------------------*\
	$TYPOGRAPHY
\*---------------------------*/
@font-face {
    font-family: BoldAvenir;
	src: url(../../fonts/AvenirLTStd-Black.otf);
    font-weight: normal;
}

@font-face {
    font-family: NormalAvenir;
	src: url(../../fonts/AvenirLTStd-Medium.otf);
    font-weight: normal;
}


body{
	color: $color-body; 
	font-family: $base-font-family;
	font-size: map-get($font-size, normal)
}

.Avenir-Bold {
	font-family: 'BoldAvenir', Arial, Helvetica;
	font-weight: normal;
}

.Avenir-Normal {
	font-family: 'NormalAvenir', Arial, Helvetica;
}

// Lista de valores
$font-weights: bold normal italic;
$text-align: center left justify right;

// Directiva each para no repetir el código (LOOP) -  DRY
@each $font in ($font-weights) {
	.#{$font} { font-weight: $font;}
}

@each $align in ($text-align) {
	.#{ $align} { text-align: $align;}
}


//clases de colores 
.color-YEiPii{
	color: $YEiPii-color;
}
.color-YEiPii-w{
	color: $YEiPii-color-white;
}
