/*---------------------------*\
    $UTILITIES

    Aquí va align left, align rigth...
\*---------------------------*/

//MARGIN
.m-auto{margin: 5px auto 10px;}
.m-cero{margin: 0}
//PADDING
.p-cero{padding: 0}
//ALIGN
.center{text-align: center;letter-spacing: 1px}
//UL
.list-style-none{list-style: none;}