/*---------------------------*\
	$FOOTER
\*---------------------------*/

#footer{
  background-color: $YEiPii-color-white;
}

.footer-container{
	@include max-width;
  padding: 15px;
  padding-bottom: 10px;
  position: relative;
	@include padding-responsive;
}

.footer-content-info{
  @extend %flex;
	@include padding-responsive;
  font-size: map-get($font-size, small);

  @include respond-to(550px){
    padding-bottom: $padding-left / 2;
  }
}

.footer-logo{
  width: $footer-logo;
  text-align:left;
  @extend %flex;
  align-items: center;
  display: flex;
  align-items: flex-start;

  @include respond-to(550px){
    width: 100%;
    justify-content: center;
  }
}

.footer-logo img{
  width: 160px;

  @include respond-to(550px){
    width: 125px;
  }
}

.footer-info{
  @extend %flex;
  width: 100 -  $footer-logo;
  justify-content: flex-end;

  @include respond-to(550px){
    display: none;
  }
}

.f-info{
 margin: 0 20px;
 min-width: 60px;
}

.f-info:last-of-type{
  margin-right: 5px;
}

.f-info a{color:$YEiPii-color-gray; margin-bottom: 5px;transition: $button-transition}

.f-info a:hover{
  text-decoration: underline;
}


.title-info-footer{
  color: $YEiPii-color;
  font-weight: map-get($font-weight, medium);
  margin-bottom: 8px !important;
}

.content-buttons-footer{
  @extend %flex;
  justify-content: center;
  margin-bottom: 6px;
  @include respond-to(550px){
    margin-bottom: 0;
  }
}

.content-buttons-footer a{
  @include respond-to(550px){
    margin: 5px;
  }
}

.redes-footer-btn-img{
  width: $redes-footer-btn-img;
  height: $redes-footer-btn-img;
  margin: 0 2px 0 2px;
  border-radius: 50%;
  transition: $button-transition;
  filter: opacity(.60) brightness(.85);
  @include respond-to(550px){
    filter: opacity(1) brightness(1);
  }
 }

.redes-footer-btn-img:hover{
  filter: opacity(1) brightness(1);
}

.footer-copy{
  font-family: 'bold';
  padding-top: 6px;
  text-align: center;
  border-top: solid 1px $YEiPii-color;
  font-size: 12px;
	@include padding-responsive;
}

.footer-copy a{
  display: inline-block;
  color: lighten($YEiPii-color-gray, $amount: 25);
  transition: $button-transition;
}
.footer-copy a:hover{
  color: $YEiPii-color-gray;
}

.YEiPii-CA{
  font-size: .75em; 
  color: $YEiPii-color;
  padding: 5px;
  text-align: center;
}


// FOOTER RESPONVIDE ACCORDEON

.contenedor-acordeon {
  width: 100%;
  overflow: hidden;
  display: none;

  @include respond-to(550px){
    display: block;
  }
}

.acordeon {
  width: 100%;
  overflow: hidden;
}
.acordeon__head {
  background: $YEiPii-color-white;
  padding: .90em;
  border-bottom: 2px solid $YEiPii-color-lightgray;
  border-top: 2px solid $YEiPii-color-lightgray;
}

.acordeon__head:nth-of-type(1){
  border-bottom: none;
}

.acordeon__head:hover {
  cursor: pointer;
}
.acordeon__head--logo, .acordeon__head--title, .acordeon__head .icon {
  pointer-events: none;
}
.acordeon__head--logo {
  width: 8%;
}
.acordeon__head--title {
  display: inline-block;
  text-transform: uppercase;
  margin: 10px;
  color: $YEiPii-color;
  font-size: 16px;
}
.acordeon__head .icon {
  font-size: 1.3em;
  color: $YEiPii-color;
}
.acordeon__body {
  background: lighten($YEiPii-color-lightgray, 4);
  height: 0;
  transition: height .4s ease-in-out;
}
.acordeon__body__menu {
  list-style: none;
  padding: 15px;
}