/*---------------------------*\
	$FOOTER
\*---------------------------*/

#footer{
  background-color: $YEiPii-color-white;
}

.footer-container{
	@include max-width;
  padding: 15px;
  padding-bottom: 10px;
  position: relative;
  padding-left: $padding-left;
	padding-right: $padding-right;
}

.footer-content-info{
  @extend %flex;
  padding-left: $padding-left;
	padding-right: $padding-right;
  font-size: map-get($font-size, small);
}

.footer-logo{
  width: $footer-logo;
  text-align:left;
  @extend %flex;
  align-items: center;
  display: flex;
  align-items: flex-start;
}

.footer-logo img{
  width: 160px;
}

.footer-info{
  @extend %flex;
  width: 100 -  $footer-logo;
  justify-content: flex-end;
}

.f-info{
 margin: 0 20px;
 min-width: 60px;
}

.f-info:last-of-type{
  margin-right: 5px;
}

.f-info a{color:$YEiPii-color-gray; margin-bottom: 5px;transition: $button-transition}

.f-info a:hover{
  text-decoration: underline;
}


.title-info-footer{
  color: $YEiPii-color;
  font-weight: map-get($font-weight, medium);
  margin-bottom: 8px !important;
}

.content-buttons-footer{
  @extend %flex;
  justify-content: center;
  margin-bottom: 6px;
}

.redes-footer-btn-img{
  width: $redes-footer-btn-img;
  height: $redes-footer-btn-img;
  margin: 0 2px 0 2px;
  border-radius: 50%;
  transition: $button-transition;
  filter: opacity(.60) brightness(.85);
 }

.redes-footer-btn-img:hover{
  filter: opacity(1) brightness(1);
}

.footer-copy{
  font-family: 'bold';
  padding-top: 6px;
  text-align: center;
  border-top: solid 1px $YEiPii-color;
  font-size: 12px;
  margin-left: $padding-left;
	margin-right: $padding-right;
}

.footer-copy a{
  display: inline-block;
  color: lighten($YEiPii-color-gray, $amount: 25);
  transition: $button-transition;
}
.footer-copy a:hover{
  color: $YEiPii-color-gray;
}

.YEiPii-CA{
  font-size: .75em; 
  color: $YEiPii-color;
  padding: 5px;
  text-align: center;
}