/*-----------------------------------*\
	$HEADER & NAV BAR 
\*-----------------------------------*/

// Header & Nav
.header {
	position: absolute;
	height: 50px;
	left: 0;
    right: 0;
	top: 1px;
	@extend %flex;
    justify-content: center;
    padding: 0 25px;
	background-color: $YEiPii-color-white;
	box-shadow: 0px -2px 0px 0px rgba(255,255,255,1);
}

.content-header{
	@extend %flex;
	box-sizing: border-box;
	width: $max-width-Laptop;
	justify-content: space-between;
	align-items: center;
	padding-left: $padding-left;
	padding-right: $padding-right;
}

.logo-header{
	height: 25px;
}

.content-nav{
	@extend %flex;
	transition: $transition-responsive;

	@include respond-to($max-width-870){
		font-size: 14px;
	}

	@include respond-to($max-width-830){
		position: absolute;
		left: 0;
		right: 0;
		top: -300px;
		border-bottom: 4px solid $YEiPii-color;
		z-index: -1;
	}
}

.active{
	top: 50px;
}

.content-logo{
	z-index: 1;
}

.content-button-menu-responsive{
	z-index: 1;
	display: none;

	@include respond-to($max-width-830){
		display: block;
	}
}

#button-menu{
	background: $YEiPii-color;
	border: none;
	height: 25px;
	width: 35px;
	border-radius: 5px;
	margin-top: 3px;
	font-weight: bold;
	outline: none;
	filter: opacity(.60) brightness(.85);
	transition: $button-transition;
}

#button-menu:hover{
	cursor: pointer;
	filter: opacity(1) brightness(1);
}

.mask{
	display: none;
	position: absolute;	
	background: $YEiPii-color-white;
	left: 0;
	right: 0; 
	height: 50px;
	box-shadow: 0px -8px 0px 8px white;

	@include respond-to($max-width-830){
		display: block;
	}
}

.nav{
	@extend %flex;
	height: 100%;
    align-items: center;
	background-color: $YEiPii-color-white;
	color: $YEiPii-color-secondary;

	@include respond-to($max-width-830){
		width: 100%;
	}

}

.nav ul{
	@extend %flex;
	list-style: none;
	margin: 0;

	@include respond-to($max-width-830){
		flex-direction: column;
		width: 100%;
	}
}

.item-nav{
	@extend %flex;
	height: 50px;
    align-items: center;
	margin: 0;
	padding: 0px 10px;
	transition: $button-transition;
	font-family: 'normal';
}

.item-nav.normal:hover{
	box-shadow: inset 10px 0px 0px -9px rgba($YEiPii-color, $alpha: 0.05), inset -10px 0px 0px -9px rgba($YEiPii-color, $alpha: 0.05) 
}

.item-nav .active{
	box-shadow: inset 0 -19px 0px -15px $YEiPii-color;
}

/*{
    background: #ebebeb36;
    border-left: 1px solid red;
    border-right: 1px solid red;
}*/

.item-nav a {
    height: 44px;
    align-items: center;
	font-size: .84em;
    padding: 3px 0;
}

#registrate{
	border-right: solid 1px $YEiPii-color-lightgray
}

#iniciar-sesion{
	padding-right: 1px;
}

#iniciar-sesion:hover a, #registrate:hover a{
	color: darken($YEiPii-color-orange, 8);
}
#iniciar-sesion a, #registrate a{
	color: $YEiPii-color-orange;
	font-family: 'bold'
}

.item-nav a:hover{
	padding: 3px 0;
}

.item-nav span{
	padding: 16px 0
}

.header-down{
	position: fixed;
	top: 0;
	background: $YEiPii-color-white;
	box-shadow: 0px -8px 0px 8px white, 0px -3px 29px 0px rgba(0, 0, 0, 0.58);
	animation-duration: .7s;
	z-index: 1000;
	margin-top: 1px;
}

#iniciar-sesion:hover a, #registrate:hover a{
	color: darken($YEiPii-color-orange, 8);
}