/*---------------------------*\
	$LAYOUTS
\*---------------------------*/

body {
	margin: 0;
	overflow-x: hidden;
	-webkit-tap-highlight-color: transparent;
}

/* DISPLAY FLEX PLACE HOLDER*/
%flex {
	display: flex;
}


//Complete View
.section-complete-viewport {
	@extend %flex;
	height: 100vh;
	min-height: 400px;
	background: $YEiPii-color-white;
	align-items: center;
	transition: $transition-responsive;

	@include respond-to($max-width-830) {
		height: auto;
	}
}


// Sections 
.section-first {
	@extend %flex;
	align-items: center;
	justify-content: center;
	background-image: url('../../images/backgrounds/bg-como-funciona.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 25px;
	height: 100vh !important;
	background-position-x: 84%;
	background-position-y: 40px;
}

.bg2 {
	background-image: url('../../images/backgrounds/bg.jpg');
	background-position-x: 70%;
	@include respond-to($max-width-Tablet){
		background-position-x: 89%;
	}
}

.content-first-other-page {
	width: 95%;
	max-width: $max-width-Laptop;
	@include padding-responsive;
	box-sizing: border-box;
	transition: $transition-responsive;

	//nos permite gestionar los break-points dentro del mismo selector
	@include respond-to($max-width-1000) {
		//width: 95%;
	}

}

.content-first {
	max-width: 570px;

	@include respond-to($max-width-MobileL) {
		max-width: 420px;
	}
}

.sections-YEiPii {
	width: 95%;
	@include max-width;
	@extend %flex;
	padding: $padding;
	box-sizing: border-box;
	transition: $transition-responsive;
	justify-content: space-between;
	align-items: center;
	@include padding-responsive;

	@include respond-to($max-width-830) {
		flex-direction: column;
	}

}


.telefono-right {
	background-image: url('../../images/phones/phone-black.png');
	height: 495px;
	width: 240px;
	background-size: 100% 100%;
	margin-right: 100px;
	background-repeat: no-repeat;
	box-shadow: 0px 39px 42px -41px rgba(0, 0, 0, 0.73);
	transition: $transition-responsive;

	@include respond-to($max-width-1000) {
		margin-right: 50px;
	}

	@include respond-to($max-width-930) {
		margin-right: 0px;
	}

	@include respond-to($max-width-830) {
		height: 407px;
		width: 200px;
	}
}

.gif-right,
.gif-left {
	width: 210px;
	position: relative;
	top: 64px
}

.gif-right {
	left: 15px;

	@include respond-to($max-width-830) {
		left: 13px;
		width: 174px;
		top: 53px;
	}
}

.gif-left {
	right: 15px;

	@include respond-to($max-width-830) {
		right: 13px;
		width: 174px;
		top: 53px;
	}
}


.telefono-left {
	background-image: url('../../images/phones/phone-black.png');
	height: 495px;
	width: 240px;
	background-size: 100% 100%;
	margin-left: 100px;
	background-repeat: no-repeat;
	box-shadow: 0px 39px 42px -41px rgba(0, 0, 0, 0.73);
	transition: $transition-responsive;

	@include respond-to($max-width-1000) {
		margin-left: 50px;
	}

	@include respond-to($max-width-930) {
		margin-left: 0px;
	}

	@include respond-to($max-width-830) {
		height: 407px;
		width: 200px;
	}

}

.inverse {
	text-align: right;

	@include respond-to($max-width-830) {
		flex-direction: column-reverse;
	}
}

//Contents
.content-buttons-app-download {
	@extend %flex;
	justify-content: center;
	align-items: center;

	@include respond-to($max-width-MobileL) {
		flex-direction: column;
	}
}

.content-buttons-app-download-other-page {
	@extend %flex;
	align-items: center;
	margin-left: -10px;
	@include padding-responsive;

	@include respond-to($max-width-MobileL) {
		flex-direction: column;
	}
}

//content donde estamos banner
.donde-estamos-banner {
	background: linear-gradient(to bottom, #001196, #001196 50%, #00108f 50%, #00108f);
	background-size: 100% 13px;
	transition: $button-transition;
}

.donde-estamos-banner .sections-YEiPii {
	@include respond-to($max-width-830) {
		flex-direction: row;
	}

	@include respond-to(720px) {
		flex-direction: column;
	}
}

.title-content-dondeestamos {
	@include respond-to(720px) {
		width: 100%;
		text-align: center;
		margin-bottom: 10px;
	}
}

.sections-YEiPii.bg-YEiPii-color {
	background: rgba(5, 13, 158, .8)
}

//SECTION DONDE ESTAMOS BUTTONS

.section-category {
	width: 100%;
	@include max-width;
	box-sizing: border-box;
	transition: $transition-responsive;
}

.content-buttons-category {
	width: 100%;
	@extend %flex;
	justify-content: center;
	flex-wrap: wrap;

	@include respond-to(1053px) {
		justify-content: center;
	}

	@include respond-to(863px) {
		padding: 0;
	}

	@include respond-to(577px) {
		justify-content: center;
	}
}


.content-category-locales {
	width: 80%;
	margin: 15px auto;
	border: solid 1px $YEiPii-color-lightgray;
	transition: $transition-responsive;
}

.row-establecimientos {
	display: flex;
	align-items: center;
	justify-content: center
}

.active-bg,
.active-bg:hover {
	background: darken($YEiPii-color-secondary, 5);
	transition: $transition-responsive;
}

.establecimiento {
	transition: $transition-responsive;
	width: 120px;
	margin: 10px 4%;
}

//PANA YEiPii
.Panas-YEiPii {
	@include respond-to($max-width-830) {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}
}

.Pana-YEiPii {
	width: 150px;
	height: 150px;
	margin: 10px;
	border-radius: 50%;

	@include respond-to($max-width-930){
		width: 140px;
		height: 140px;
	}

	@include respond-to($max-width-830) {
		width: 130px;
		height: 130px;
	}
	@include respond-to($max-width-Tablet) {
		width: 120px;
		height: 120px;
	}
}

.otros-panas {
	opacity: .5;
	@include respond-to(616px){
		display: none !important;
	}
}




@media screen and (min-width: 900px){
	.content-first, .content-first-other-page{
		max-width: 640px;
		position: absolute;
		top: 25%;
		left: 5%;

		@include respond-to ($max-width-Laptop + 100){
				max-width: 660px;
				position: absolute;
				top: 25%;
				left: 0%;
		}
}
	.juanpedro{
		font-size: 3.6em;
		@include respond-to ($max-width-Laptop){
			font-size: 3.4em;
		}
	}
}

.span-pts{
	font-size: 1.2em; position: relative; top: -20px; width: 100%; display: block;
	@include respond-to($max-width-830){
		text-align: center;
		font-size: 1.1em;
	}
}
